*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(204, 157, 248);
}
header{
    padding: 20px;
}
main{
    
    font-size: 16px;
    background-color: white;
    width: 500px;
    margin: auto;
    margin-top: -7px;
    padding: 20px;
    box-shadow: 3px 3px 5px black;
    border-radius: 10px 10px;

}
h1{
    color: blueviolet;
}